@model List<BookViewModel>

@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AA Library</h1>
    <p>A selection of our books</a>.</p>

    @foreach(var book in Model)
    {
        <ul>
            <li>
                <p>@book.Title</p>
                <img src="@Url.Content(book.CoverUrl)" alt=@book.Title />
                <button>Borrow</button>
            </li>

        </ul>
    }
</div>
